<div class="jumbotron" style="margin-top:20px;">
  <h1 class="display-4">Hello, user!</h1>
  <p class="lead">This is a simple company portal, a simple solution to manage employee and their pay-roll.</p>
  <hr class="my-4">
  <p>It is designed using bootstrap and developed using ROR 6.</p>
  <a class="btn btn-secondary btn-lg" href="<%= companies_path %>" role="button">Companies</a>
</div>